body{
	margin:0;
	color: #1c1c1c;
}

a{
	color: #c62222;
	text-decoration: none; 
}

.hidden{
	display: none;
}

#bar{
	height: 80px;
	background-color: #212121;
	color: #FFF;
}

#bar span{
	vertical-align: middle;
}

#aesculapius{
	position: absolute;
	top: 55px;
	background-repeat: no-repeat;
}

#bar .left, #bar .right{
	position: relative;
}

#bar .left{
	top: 22px;
	margin-left: 10px;
}

#bar .right{
	float: right;
	top: 28px;
	margin-right: 10px;
}

#bar .user{
	font-size: 25px; 
}

#bar .department{
	position: relative;
	top: 3px;
}

#bar .push{
	padding: 0px 5px;
	background-color: #c62222;
	border-radius:100%;
}

.links div{
	margin:1%;
	text-align:center;
}

.slides, .slides div{
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}

.slides{
	height: 300px;
	background-color: #212121; 
	overflow: hidden;
}

.slides div{
	height: 265px;
	background-color: #c62222;
	margin-bottom: 35px;
}

.slides #links{
	margin-bottom: 0;
	position: absolute;
	top: 399px;
	height: 35px;
	background: none;
}

.slides #links a{
	position: relative;
	top: 2px;
	color: #FFF;
}

.slides #links span{
	float: right;
	margin-right: 5px;
}

.presentation{
	margin:5px auto;
	width: 1200px;
}

footer{
	padding: 5px;
	background-color: #212121;
}

footer, footer a{
	color: #FFF;
}
