.patient{
	margin: auto;
	margin-top: 30px;
	padding: 8px;
	width: 900px;
	border:3px solid #212121;
	border-radius: 3px;
}

.patient p{
	margin: 5px;
}

.patient .basic_data b{
	color: #c62222;
}

.patient .stats{
	margin: 5px;
	padding: 3px;
	background-color: #212121;
	border-radius: 3px;
}

.patient .stats .tap{
	color: #FFF;
	font-weight: bold;
}

.patient .stats .data{
	margin: 5px;
	background-color: #FFF;
	border-radius: 3px;
}

.patient .stats .data{
	padding: 5px;
}